@{
    ViewData["Title"] = "Home Page";
    var Role = ViewBag.Role;
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Tennis22.svg" alt="ASP.NET" class="img-responsive" style="" />
        </div>
    </div>
</div>

<br />

@if (Role == "Member")
{
    <h3>Welcome Member</h3>
    <div class="siteactions">
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Schedules" asp-action="Index"><span class="btn btn-primary">View Schedules</span></a>
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Role" asp-action="ListCoach"><span class="btn btn-primary">View Coaches</span></a>
    </div>
}
else if (Role == "Coach")
{
    <h3>Welcome Coach</h3>
    <div class="siteactions">
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Role" asp-action="ListCoach"><span class="btn btn-primary">View Coaches</span></a>
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Schedules" asp-action="Index"><span class="btn btn-primary">View Your Schedules</span></a>
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Identity" asp-action="Index"><span class="btn btn-primary">My Profile</span></a>
    </div>
}
else if (Role == "Admin")
{
    <h3>Welcome Admin</h3>
    <div class="siteactions">
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Role" asp-action="ListCoach"><span class="btn btn-primary">View Coaches</span></a>
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Schedules" asp-action="Index"><span class="btn btn-primary">View Schedules</span></a>
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Role" asp-action="ListUsers"><span class="btn btn-primary">View All Users</span></a>
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Enrolments" asp-action="Index"><span class="btn btn-primary">View All Enrolments</span></a>
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Role" asp-action="Index"><span class="btn btn-primary">View All Roles</span></a>
        <a class="nav-link" style="text-decoration:underline;" href="~/Identity/Account/Manage"><span class="btn btn-primary">My Profile</span></a>
    </div>
}
else
{
    <h3>Welcome New User!</h3>
    <div class="siteactions">
        <a class="nav-link" style="text-decoration:underline;" href="https://localhost:44397/Identity/Account/Register"><span class="btn btn-primary">New Members</span></a>
        <a class="nav-link" style="text-decoration:underline;" href="https://localhost:44397/Identity/Account/Login"><span class="btn btn-primary">Current Member</span></a>
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Role" asp-action="ListCoach"><span class="btn btn-primary">View Coaches</span></a>
        <a class="nav-link" style="text-decoration:underline;" asp-area="" asp-controller="Schedules" asp-action="Index"><span class="btn btn-primary">View Schedules</span></a>
    </div>
}

